block htmlBoiler 
    include ../public/includes/htmlBoiler 
block navbar
    include ../public/includes/navbar 
block hauptteil
    
    include ../public/includes/hauptteil
    .replace 
        block replace 
            h3 eat sleep repeat
block footer
    include ../public/includes/footer  