block htmlBoiler 
    include ../public/includes/htmlBoiler 
block navbar
    include ../public/includes/navbar 
block hauptteil
    include ../public/includes/hauptteil
block footer
    include ../public/includes/footer 