div(class='navbox')
    img(class='navimg' src="https://w7.pngwing.com/pngs/629/935/png-transparent-breakdancing-hip-hop-dance-street-dance-silhouette-animals-monochrome-silhouette.png", alt="")
    div(class='navitem') HDA 
    div(class='navitem') Home 
    div(class='navitem') About 
    div(class='navitem') Services 
    div(class='navitem') Class Info 
    div(class='navitem') Contact Us 